.demo {
  padding: 8rem;
  background-color: var(--c-F4F4F4);
  border-radius: 5.6rem;
  &__heading {
    font-family: 'Lufga700';
    font-size: 4rem;
    color: var(--c-050729);
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    span {
      color: var(--c-5313CA);
    }
  }
  &__description {
    max-width: 40%;
    margin-bottom: 8rem;
  }
  &__video-details {
    display: grid;
    grid-template-columns: minmax(0, 46%) auto;
    border-radius: 4rem;
    border: 2px solid var(--c-5313CA);
    position: relative;
  }
  &__video-details-left {
    padding: 10rem 8rem;
  }
  &__video-number {
    font-size: 4rem;
    font-family: 'Lufga700';
    letter-spacing: -0.8px;
    color: rgba(5, 7, 41, 0.2);
  }
  &__video-name {
    color: var(--c-955CFF);
    font-family: 'Lufga700';
    font-size: 2.4rem;
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;
  }
  &__video-details-right {
    border-radius: 4rem;
    border: 8px solid var(--c-050729);
    position: absolute;
    top: -1px;
    right: -1px;
    width: 54%;
    height: 100.7%;
    overflow: hidden;
  }
  &__video-container {
    height: 100%;
  }
  &__video-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
