.banner {
  .grid_box {
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }
  .label {
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    border-radius: 1234px;
    background-color: var(--c-EEE7FA);
    padding: 1rem 1.2rem 1rem 2.8rem;
    font-family: 'Lufga700';
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1.2rem;
      transform: translateY(-50%);
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 1234px;
      background-color: var(--c-5313CA);
    }
  }
  .heading {
    margin-bottom: 3.2rem;
    font-size: 6rem;
    font-family: 'Lufga700';
    span {
      position: relative;
      white-space: nowrap;
      color: var(--c-5313CA);
      img {
        position: absolute;
        left: 0;
        bottom: -0.65rem;
        z-index: -1;
      }
    }
  }
  .para_text {
    margin-bottom: 6rem;
    width: 100%;
    max-width: 72%;
  }
  .trasparent_btn {
    height: 6.4rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    font-size: 1.8rem;
    margin-right: 1.2rem;
    display: inline-block;
    border-radius: 1000px;
    border: 1px solid var(--c-5313CA);
    font-family: 'Lufga700';
    color: var(--c-5313CA);
    background-color: transparent;
  }
  .arrow_btn {
    height: 6.4rem;
    background-color: var(--c-050729);
    padding-left: 2.4rem;
    padding-right: 8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.8rem;
    color: var(--c-FFFFFF);
    position: relative;
    border-radius: 1000px;
    font-family: 'Lufga700';
    span {
      height: 4.8rem;
      width: 4.8rem;
      background-color: var(--c-FFFFFF);
      position: absolute;
      right: 0.8rem;
      display: flex;
      top: 50%;
      transform: translateY(-50%);
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  .box_right {
    text-align: right;
  }
  .bannerimg {
    margin-left: auto;
  }
}

@media (max-width: 1194px) {
  .banner {
    .bannerimg {
      width: 35rem;
    }
  }
}
@media (max-width: 1024px) {
  .banner {
    .grid_box {
      padding-left: 0;
      padding-right: 0;
      row-gap: 4rem;
      grid-template-columns: 1fr;
    }
    .box_left {
      text-align: center;
    }
    .heading {
      span {
        img {
          left: 10rem;
        }
      }
    }
    .para_text {
      max-width: 100%;
    }
    .bannerimg {
      margin-right: auto;
      width: 70%;
    }
    .box_right {
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  .banner {
    .label {
      margin-bottom: 2.4rem;
      font-size: 1rem;
    }
    .heading {
      margin-bottom: 1.8rem;
      font-size: 3.8rem;
      span {
        white-space: normal;
        img {
          left: 5rem;
          bottom: 0.35rem;
        }
      }
    }
    .para_text {
      margin-bottom: 4rem;
    }
    .trasparent_btn {
      margin-right: 0;
      height: 6rem;
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
      width: 100%;
    }
    .arrow_btn {
      height: 6rem;
      font-size: 1.6rem;
      width: 100%;
      text-align: left;
      span {
        right: 0.6rem;
      }
    }
    .bannerimg {
      width: 90%;
    }
  }
}
