:root {
  --c-EEE7FA: #eee7fa;
  --c-5313CA: #5313ca;
  --c-050729: #050729;
  --c-FFFFFF: #ffffff;
  --c-000000: #000000;
  --c-F4F4F4: #f4f4f4;
  --c-955CFF: #955cff;
  --c-FF9736: #ff9736;
  --c-FFEAD7: #ffead7;
  --c-4B3425: #4b3425;
  --c-B9BBD5: #b9bbd5;
}
