@import './fonts.scss';
@import './colors.scss';
@import './animations.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lufga400';
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

.my-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 128rem;
  @media (max-width: 1280px) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.section-description {
  font-size: 1.8rem;
  color: var(--c-050729);
  font-family: 'Lufga500';
  opacity: 0.65;
  @media (max-width: 640px) {
    font-size: 1.6rem;
  }
}

.section-heading40 {
  font-family: 'Lufga700';
  font-size: 4rem;
  color: var(--c-050729);
  span {
    color: var(--c-5313CA);
  }
  @media (max-width: 640px) {
    font-size: 2.8rem;
  }
}
.section-heading60 {
  font-family: 'Lufga700';
  font-size: 6rem;
  color: var(--c-050729);
  span {
    color: var(--c-5313CA);
  }
  @media (max-width: 640px) {
    font-size: 3.8rem;
  }
}
