@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LufgaItalic400';
    src:
      url('../../public/fonts/Lufga-Italic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Italic.woff') format('woff'),
      url('../../public/fonts/Lufga-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga300';
    src:
      url('../../public/fonts/Lufga-Light.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Light.woff') format('woff'),
      url('../../public/fonts/Lufga-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic200';
    src:
      url('../../public/fonts/Lufga-ExtraLightItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-ExtraLightItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga500';
    src:
      url('../../public/fonts/Lufga-Medium.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Medium.woff') format('woff'),
      url('../../public/fonts/Lufga-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic300';
    src:
      url('../../public/fonts/Lufga-LightItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-LightItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic100';
    src:
      url('../../public/fonts/Lufga-ThinItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-ThinItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga100';
    src:
      url('../../public/fonts/Lufga-Thin.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Thin.woff') format('woff'),
      url('../../public/fonts/Lufga-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga400';
    src:
      url('../../public/fonts/Lufga-Regular.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Regular.woff') format('woff'),
      url('../../public/fonts/Lufga-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic600';
    src:
      url('../../public/fonts/Lufga-SemiBoldItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-SemiBoldItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic500';
    src:
      url('../../public/fonts/Lufga-MediumItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-MediumItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga600';
    src:
      url('../../public/fonts/Lufga-SemiBold.woff2') format('woff2'),
      url('../../public/fonts/Lufga-SemiBold.woff') format('woff'),
      url('../../public/fonts/Lufga-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic800';
    src:
      url('../../public/fonts/Lufga-ExtraBoldItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-ExtraBoldItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga900';
    src:
      url('../../public/fonts/Lufga-Black.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Black.woff') format('woff'),
      url('../../public/fonts/Lufga-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga800';
    src:
      url('../../public/fonts/Lufga-ExtraBold.woff2') format('woff2'),
      url('../../public/fonts/Lufga-ExtraBold.woff') format('woff'),
      url('../../public/fonts/Lufga-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic900';
    src:
      url('../../public/fonts/Lufga-BlackItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-BlackItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'LufgaItalic700';
    src:
      url('../../public/fonts/Lufga-BoldItalic.woff2') format('woff2'),
      url('../../public/fonts/Lufga-BoldItalic.woff') format('woff'),
      url('../../public/fonts/Lufga-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga200';
    src:
      url('../../public/fonts/Lufga-ExtraLight.woff2') format('woff2'),
      url('../../public/fonts/Lufga-ExtraLight.woff') format('woff'),
      url('../../public/fonts/Lufga-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lufga700';
    src:
      url('../../public/fonts/Lufga-Bold.woff2') format('woff2'),
      url('../../public/fonts/Lufga-Bold.woff') format('woff'),
      url('../../public/fonts/Lufga-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lufga400';
}
