.btn-arrow--filled {
  height: 6.4rem;
  padding-left: 2.4rem;
  padding-right: 8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1.8rem;
  position: relative;
  border-radius: 1000px;
  font-family: 'Lufga700';
  transition:
    background-color 0.3s,
    color 0.3s,
    border 0.3s;
  span {
    height: 4.8rem;
    width: 4.8rem;
    position: absolute;
    right: 0.8rem;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  svg path {
    transition: stroke 0.3s;
  }
}
.bg--black {
  background-color: var(--c-050729);
  color: var(--c-FFFFFF);
  border: 1px solid var(--c-050729);
  span {
    background-color: var(--c-FFFFFF);
  }
  &:hover {
    background-color: var(--c-FFFFFF);
    color: var(--c-050729);
    border: 1px solid var(--c-000000);
    span {
      background-color: var(--c-5313CA);
    }
    svg path {
      stroke: var(--c-FFFFFF);
    }
  }
}
.bg--white {
  background-color: var(--c-FFFFFF);
  color: var(--c-050729);
  border: 1px solid var(--c-FFFFFF);
  span {
    background-color: var(--c-5313CA);
  }
  svg path {
    stroke: var(--c-FFFFFF);
  }
  &:hover {
    background-color: var(--c-050729);
    color: var(--c-FFFFFF);
    border: 1px solid var(--c-050729);
    span {
      background-color: var(--c-FFFFFF);
    }
    svg path {
      stroke: var(--c-5313CA);
    }
  }
}
@media (max-width: 640px) {
  .btn-arrow--filled {
    height: 6rem;
    font-size: 1.6rem;
    text-align: left;
    span {
      right: 0.6rem;
    }
  }
}
