.btn--transparent {
  height: 6.4rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  font-size: 1.8rem;
  display: inline-block;
  border-radius: 1000px;
  border: 1px solid var(--c-5313CA);
  font-family: 'Lufga700';
  color: var(--c-5313CA);
  background-color: transparent;
  transition:
    background-color 0.3s,
    color 0.3s;
  &:hover {
    background-color: var(--c-5313CA);
    color: var(--c-FFFFFF);
  }
}

@media (max-width: 640px) {
  .btn--transparent {
    height: 6rem;
    font-size: 1.6rem;
    width: 100%;
  }
}
